{{ template "header"}}
<!-- middle section -->
<div id="middlesection" class="flex flex-col flex-1 border border-0 border-green-900 h-full align-items-start">
    <section class="px-8 py-4">
        <h1 class="text-3xl">{{ .Title }}</h1>
        <h4 class="text-xl">Contract Bidding</h4>
        
        
        
        {{ if .Success }}

                    {{ if .Status}}
                        <div class='p-4 mt-8 mb-2 bg-green-100 rounded font-semibold md:w-1/2'>
                            {{ .Message }}
                            
                                <div class="py-2 mt-2">
                                    <a href="#" class="bg-blue-500 hover:bg-blue-400 
                                                                 rounded text-white px-8 py-2 text-sm">Back to Contract</a>
                                </div>
                            
                        </div>
                    {{ else}}
                        <div class='p-4 mt-8 mb-2 bg-red-100 text-red-800 rounded font-semibold md:w-1/2'>
                            {{ .Message}}

                            <div class="py-2 mt-2">
                                <a href="#" class="bg-blue-500 hover:bg-blue-400 
                                                             rounded text-white px-8 py-2 text-sm">Back to Contract</a>
                            </div>

                        </div>
                    {{ end }}

       
        {{ else }}

        
        <!-- form-->
        <form class="mt-4" action="/contract_bidding" method="POST">


                <!-- Contract Id-->
                    <div class="border border-0 border-blue-900"> 
                        <input type="hidden" name="contract_id" class="flex border border-1 border-gray-500 inline-block 
                                                  rounded-md py-2 px-2 w-1/2 shadow-lg"
                                                  value="{{.Message}}" />
                    </div>                    
                
                <!-- Contract Id -->

                <!-- Bidder name-->
                <div class="flex flex-col border border-1 border-gray-200 rounded-sm px-2 py-2 mb-2 mt-2">
                    <label class="text-gray-800 font-semibold py-1">Name of Bidder</label>
                    <div class="border border-0 border-blue-900"> 
                        <input type="text" name="bidder_name" class="flex border border-1 border-gray-500 inline-block 
                                                  rounded-md py-2 px-2 w-1/2 shadow-lg" />
                    </div>                    
                </div>
                <!-- Bidder name -->

                <!-- Financial Capability -->
                <div class="flex flex-col border border-1 border-gray-200 rounded-sm px-2 py-2 mt-2 mb-2">
                        <div class="mt-1 mb-1">
                            <h3 class="text-xl font-semibold">Financial Capability</h3>
                        </div>
                        
                        <!-- fields - Bank Statement -->
                        <div class="flex flex-row align-items-center border-b border-1 border-gray-300 py-2">
                                <div class="flex border border-0 border-red-500 w-64">
                                    <label class="text-gray-800 font-semibold py-1">Bank Statement</label>
                                </div>
                                <div class="border border-0 border-blue-900"> 
                                    <input type="text" name="bank_statement_submission" class="flex border border-1 border-gray-500 inline-block 
                                                              rounded-md py-2 px-2 w-1/2 shadow-lg" placeholder="Submission"required />
                                </div>
                                <div class="border border-0 border-blue-900"> 
                                    <input type="text" name="bank_statement_score" class="flex border border-1 border-gray-500 inline-block 
                                                              rounded-md py-2 px-2 w-1/2 shadow-lg" placeholder="Score" required/>
                                </div>
                        </div>
                        <!-- end of fields - Bank Statement -->
                        
                        <!-- fields - Bank Reference -->
                        <div class="flex flex-row align-items-center border-gray-300 py-2">
                            <div class="flex border border-0 border-red-500 w-64">
                                <label class="text-gray-800 font-semibold py-1">Bank Reference</label>
                            </div>
                            <div class="border border-0 border-blue-900"> 
                                <input type="text" name="bank_reference_submission" class="flex border border-1 border-gray-500 inline-block 
                                                          rounded-md py-2 px-2 w-1/2 shadow-lg" placeholder="Submission" required />
                            </div>
                            <div class="border border-0 border-blue-900"> 
                                <input type="text" name="bank_reference_score" class="flex border border-1 border-gray-500 inline-block 
                                                          rounded-md py-2 px-2 w-1/2 shadow-lg" placeholder="Score" required/>
                            </div>
                        </div>
                        <!-- end of fields - Bank Reference -->                        
                </div>
                <!-- end of financial Capability -->


                <!-- Qualification of Key Personnel -->
                <div class="flex flex-col border border-1 border-gray-200 rounded-sm px-2 py-2 mt-2 mb-2">
                    <div class="mt-1 mb-1">
                        <h3 class="text-xl font-semibold">Qualification of Key Personnel</h3>
                    </div>
                    
                    <!-- fields - Curriculum Vitae -->
                    <div class="flex flex-row align-items-center border-b border-1 border-gray-300 py-2">
                            <div class="flex border border-0 border-red-500 w-64">
                                <label class="text-gray-800 font-semibold py-1">Curriculum Vitae</label>
                            </div>
                            <div class="border border-0 border-blue-900"> 
                                <input type="text" name="cv_submission" class="flex border border-1 border-gray-500 inline-block 
                                                          rounded-md py-2 px-2 w-1/2 shadow-lg" placeholder="Submission" required />
                            </div>
                            <div class="border border-0 border-blue-900"> 
                                <input type="text" name="cv_score" class="flex border border-1 border-gray-500 inline-block 
                                                          rounded-md py-2 px-2 w-1/2 shadow-lg" placeholder="Score" required/>
                            </div>
                    </div>
                    <!-- end of fields - Curriculum Vitae -->
                    
                    <!-- fields - Certificate -->
                    <div class="flex flex-row align-items-center border-gray-300 py-2">
                        <div class="flex border border-0 border-red-500 w-64">
                            <label class="text-gray-800 font-semibold py-1">Certificate</label>
                        </div>
                        <div class="border border-0 border-blue-900"> 
                            <input type="text" name="certificate_submission" class="flex border border-1 border-gray-500 inline-block 
                                                      rounded-md py-2 px-2 w-1/2 shadow-lg" placeholder="Submission" required />
                        </div>
                        <div class="border border-0 border-blue-900"> 
                            <input type="text" name="certificate_score" class="flex border border-1 border-gray-500 inline-block 
                                                      rounded-md py-2 px-2 w-1/2 shadow-lg" placeholder="Score" required/>
                        </div>
                    </div>
                    <!-- end of fields - Certificate -->
                    
                    
            </div>
            <!-- end of Qualification of Key Personnel -->


            <!-- Similar Project Executed -->
            <div class="flex flex-col border border-1 border-gray-200 rounded-sm px-2 py-2 mt-2 mb-2">
                <div class="mt-1 mb-1">
                    <h3 class="text-xl font-semibold">Similar Project Executed</h3>
                </div>
                
                <!-- fields - Curriculum Vitae -->
                <div class="flex flex-row align-items-center border-b border-1 border-gray-300 py-2">
                        <div class="flex border border-0 border-red-500 w-64">
                            <label class="text-gray-800 font-semibold py-1">Award Letter</label>
                        </div>
                        <div class="border border-0 border-blue-900"> 
                            <input type="text" name="awardletter_submission" class="flex border border-1 border-gray-500 inline-block 
                                                      rounded-md py-2 px-2 w-1/2 shadow-lg" placeholder="Submission" required/>
                        </div>
                        <div class="border border-0 border-blue-900"> 
                            <input type="text" name="awardletter_score" class="flex border border-1 border-gray-500 inline-block 
                                                      rounded-md py-2 px-2 w-1/2 shadow-lg" placeholder="Score" required/>
                        </div>
                </div>
                <!-- end of fields - Curriculum Vitae -->
                
                <!-- fields - Certificate -->
                <div class="flex flex-row align-items-center border-gray-300 py-2">
                    <div class="flex border border-0 border-red-500 w-64">
                        <label class="text-gray-800 font-semibold py-1">Completion Letter</label>
                    </div>
                    <div class="border border-0 border-blue-900"> 
                        <input type="text" name="completionletter_submission" class="flex border border-1 border-gray-500 inline-block 
                                                  rounded-md py-2 px-2 w-1/2 shadow-lg" placeholder="Submission" required />
                    </div>
                    <div class="border border-0 border-blue-900"> 
                        <input type="text" name="completionletter_score" class="flex border border-1 border-gray-500 inline-block 
                                                  rounded-md py-2 px-2 w-1/2 shadow-lg" placeholder="Score" required/>
                    </div>
                </div>
                <!-- end of fields - Certificate -->                
        </div>
        <!-- end of Similar Project Executed -->



        
        <!-- Technical Capability -->
            <div class="flex flex-col border border-1 border-gray-200 rounded-sm px-2 py-2 mt-2 mb-2">
                <div class="mt-1 mb-1">
                    <h3 class="text-xl font-semibold">Relevant Equipment and Technical capacity</h3>
                </div>
                
                <!-- fields - Equipment -->
                <div class="flex flex-row align-items-center border-b border-1 border-gray-300 py-2">
                        <div class="flex border border-0 border-red-500 w-64">
                            <label class="text-gray-800 font-semibold py-1">No. of Equipment</label>
                        </div>
                        <div class="border border-0 border-blue-900"> 
                            <input type="text" name="equipment_submission" class="flex border border-1 border-gray-500 inline-block 
                                                      rounded-md py-2 px-2 w-1/2 shadow-lg" placeholder="Submission" required />
                        </div>
                        <div class="border border-0 border-blue-900"> 
                            <input type="text" name="equipment_score" class="flex border border-1 border-gray-500 inline-block 
                                                      rounded-md py-2 px-2 w-1/2 shadow-lg" placeholder="Score" required/>
                        </div>
                </div>
                <!-- end of fields - No. of Equipment -->
                
                <!-- fields - Evidence of Ownership -->
                <div class="flex flex-row align-items-center border-gray-300 py-2">
                    <div class="flex border border-0 border-red-500 w-64">
                        <label class="text-gray-800 font-semibold py-1">Evidence of Ownership</label>
                    </div>
                    <div class="border border-0 border-blue-900"> 
                        <input type="text" name="equipment_ownership_submission" class="flex border border-1 border-gray-500 inline-block 
                                                  rounded-md py-2 px-2 w-1/2 shadow-lg" placeholder="Submission" required />
                    </div>
                    <div class="border border-0 border-blue-900"> 
                        <input type="text" name="equipment_ownership_score" class="flex border border-1 border-gray-500 inline-block 
                                                  rounded-md py-2 px-2 w-1/2 shadow-lg" placeholder="Score" required/>
                    </div>
                </div>
                <!-- end of fields - Evidence of Ownership -->
        </div>
        <!-- end of Technical Capability-->
    


                
        <!-- Audited Account -->
            <div class="flex flex-col border border-1 border-gray-200 rounded-sm px-2 py-2 mt-2 mb-2">
                <div class="mt-1 mb-1">
                    <h3 class="text-xl font-semibold">Audited Account</h3>
                </div>
                
                <!-- fields - Deviation (Annual Turnover, Benchmark) -->
                <div class="flex flex-row align-items-center py-2">
                        <div class="flex border border-0 border-red-500 w-64">
                            <label class="text-gray-800 font-semibold py-1">Deviation (Annual Turnover, Benchmark)</label>
                        </div>
                        <div class="border border-0 border-blue-900"> 
                            <input type="text" name="deviation_submission" class="flex border border-1 border-gray-500 inline-block 
                                                      rounded-md py-2 px-2 w-1/2 shadow-lg" placeholder="Submission" required/>
                        </div>
                        <div class="border border-0 border-blue-900"> 
                            <input type="text" name="deviation_score" class="flex border border-1 border-gray-500 inline-block 
                                                      rounded-md py-2 px-2 w-1/2 shadow-lg" placeholder="Score" required/>
                        </div>
                </div>
                <!-- end of fields - Deviation (Annual Turnover, Benchmark) -->               
                
        </div>
        <!-- end of Audited Account -->


        <!-- Contribution to Community -->
        <div class="flex flex-col border border-1 border-gray-200 rounded-sm px-2 py-2 mt-2 mb-2">
            <div class="mt-1 mb-1">
                <h3 class="text-xl font-semibold">Contribution to Community</h3>
            </div>
            
            <!-- fields - Deviation (Annual Turnover, Benchmark) -->
            <div class="flex flex-row align-items-center  py-2">
                    <div class="flex border border-0 border-red-500 w-64">
                        <label class="text-gray-800 font-semibold py-1">No. of Project & Average worth</label>
                    </div>
                    <div class="border border-0 border-blue-900"> 
                        <input type="text" name="projects_submission" class="flex border border-1 border-gray-500 inline-block 
                                                  rounded-md py-2 px-2 w-1/2 shadow-lg" placeholder="Submission" required />
                    </div>
                    <div class="border border-0 border-blue-900"> 
                        <input type="text" name="projects_score" class="flex border border-1 border-gray-500 inline-block 
                                                  rounded-md py-2 px-2 w-1/2 shadow-lg" placeholder="Score" required/>
                    </div>
            </div>
            <!-- end of fields - No. of Project & Average worth -->      
            
            
    </div>
    <!-- end of Contribution to Community -->

    <div class="py-2">
        <button type="submit" class="bg-blue-500 hover:bg-blue-400 
                                     rounded text-white px-8 py-2 text-sm">Create Bid</button>
    </div>




</form>
<!-- end of form-->

{{ end }}
        

    </section>
</div>
<!-- end of middle section -->





{{ template "footer"}}